.events-calendar__scroll-container {
    max-width: 100%;
    min-height: calc(100% - 50px);
    overflow-x: auto;
    background: linear-gradient(45deg, #171929, #292c43);
    overscroll-behavior-x: contain;
    display: flex;
    position: relative;
}

.hour-column {
    position: relative;
    display: flex;
    border-left: 1px solid #8b9d9a50;
    z-index: 6;
}

.minute-column__label-time {
    z-index: 6;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8b9d9a;
    user-select: none;
}

.minute-column {
    z-index: 5;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    border-right: 1px solid #8b9d9a20;
}

.event-calendar__unavailable-time {
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 4;
    height: 18px;
    border-top: 1px solid darkred;
}

.event-item__wrapper {
    padding: 0 2px;
    position: absolute;
    z-index: 7;
    opacity: 1;
}

.event-item {
    min-width: 20px;
    height: 30px;
    background-color: var(--base-600);
    color: #8b9d9a;
    box-shadow:
            -1px 0 5px 2px var(--accent-500),        /* outer left magenta */
            1px 0 5px 2px var(--accent-500);         /* outer right cyan */
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.event-item__header {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
}

.event-item__title {
    margin: 0 10px;
}

.event-item__start-date {
    min-width: 70px;
    position: absolute;
    bottom: -18px;
    margin-left: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8b9d9a;
}

.event-item--start-threshold {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.event-item--end-threshold {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.event-calendar__current-time-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 2px;
    height: 100%;
    background-color: darkred;
}

.event-calendar__current-time-text {
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 16;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #dddddd;
    width: 49px;
    height: 18px;
    background-color: darkred;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.event-item__delete {
    margin-left: 4px;
}

.event-item__delete path {
    fill: #8b9d9a;
}

